@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #2457b4;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main{
    height: 80vh;
}

footer{
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

h1{
    align-items: center;
    text-align: center;
}

h1:hover {
    color:var(--color-neutral-10);
    transition: all 0.8s;
}

/* Aqui modificamos o conteudo do div para criamos o footer */
#div-conteudo {
    background-color: var(--color-neutral-0);
    /* display grid para estilziarmos o conteudo */
    display: grid;
    /* Aqui criamos 4 colunas com espaço de 1fr entre elas */
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 2rem;
}

#Quem-Somos{
    margin-left: 1rem;
}

#Projetos{
    margin-left: 1rem;
}

#Contribuiçao{
    margin-left: 1rem;
}


.links-ul {
    /* utilziando o flexbox para editar os links */
    display: flex;
    /* direção da coluna no flex */
    flex-direction: column;
    /* espaçamento da coluna */
    gap: 1rem;
    list-style: none;
}

.links-ul .footer-link:hover {
    color: pink;
    transition: all 0.8s;
}


#copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 0.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #div-conteudo {
        grid-template-columns: repeat(1, 1fr);
        /* gap: 0.5rem; */
        padding: 2rem, 2rem;
    }

    p{
        color:aqua;
        display: flex;
        justify-content: center;
        font-size: medium;
    }
}