/* Estilo para dispositivos maiores ou iguais a 768px */
.box {
    background-color: blue;
    color: white;
}

/* Estilo para dispositivos menores que 768px */
@media (max-width: 450px) {
    .box {
        background-color: red;
        color: black;
    }

    h1{
        color:brown;
        margin-left: 40%;
    }
}
