body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content-2{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(216, 216, 228);
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
